.ncc_section {
    background-color: #ededed;

    .ncc_info_box_inner {
        h3 {
            font-family: 'Recoleta', sans-serif !important;
        }

        p {
            text-align: justify;
        }
    }
}