<section class="about hs-about pt-115 pb-115 pos-rel">
    <div class="container-fluid">
        <div class="row mt-none-30 pl-100 pr-100">
            <div class="col-lg-4 mt-30">
                <div class="xb-feature_wrap sh-featuree_wrap pos-rel ul_li">
                    <div class="xb-item--icon">
                        <img src="assets/img/icon/teacher-icon.png" alt="">
                    </div>
                    <div class="xb-item--holder">
                        <h3 class="xb-item--title">Highly Qualified Teachers</h3>
                        <span class="xb-item--content">Our team of dedicated teachers is committed to inspiring.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-30">
                <div class="xb-feature_wrap sh-featuree_wrap pos-rel ul_li pl-15">
                    <div class="xb-item--icon bg_blue">
                        <img src="assets/img/icon/book-white.png" alt="">
                    </div>
                    <div class="xb-item--holder pr-35">
                        <h3 class="xb-item--title">Highly Efficient Students</h3>
                        <span class="xb-item--content">Our team of dedicated teachers is committed to inspiring</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pl-30 mt-30">
                <div class="xb-feature_wrap sh-featuree_wrap pos-rel ul_li">
                    <div class="xb-item--icon bg_green">
                        <img src="assets/img/icon/book-white.png" alt="">
                    </div>
                    <div class="xb-item--holder pr-15">
                        <h3 class="xb-item--title">Books & Library Stores</h3>
                        <span class="xb-item--content">Our team of dedicated teachers is committed to inspiring.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center pt-100 pl-100 pr-100">
            <div class="col-lg-4">
                <div class="hs-about_left mt-20">
                    <div class="about-img wow skewIn">
                        <img src="assets/img/about/about-img02.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="hs-about-right ml-70 mt-20 wow fadeInLeft" data-wow-delay="200ms" data-wow-duration=".6s">
                    <div class="section-title mb-20">
                        <span class="sub-title">about us</span>
                        <h1 class="title">Welcome to BCS Collage</h1>
                        <p class="hs-content mt-25">Realizing the need for a college for the development of higher
                            education in Dhamtari region, Adarsh Shikshan Samiti Dhamtari established Nutan Arts and
                            Commerce College in 1963. Due to lack of facilities for studying science in Nutan College,
                            Lal Bahadur Shikshan Samiti Dhamtari established Dhamtari Science and Arts and Commerce
                            College in 1966-67. Postgraduate Economics classes started in Nutan College in 1972-73. To
                            rescue these two institutions from financial crisis, Municipal Council Dhamtari acquired
                            these two colleges on 01 January 1980. Later, the Higher Education Department of M.P.
                            Government acquired these colleges on 09 June 1981 and integrated them. Thus, Government
                            College Dhamtari came into existence. The college campus is spread over 27.70 acres. In
                            December 1995, the college was given the status of a postgraduate college.
                        </p>
                        <p class="hs-content mt-10">To keep the memory of Babu Chhotelal Srivastava, the famous freedom
                            fighter of the region, intact, the government named the college after him in 1995. Now this
                            college is known as Babu Chhotelal Srivastava Government Post Graduate College, Dhamtari.
                            The college has the facility of postgraduate studies in Mathematics, Chemistry, Physics,
                            Zoology, Information Technology, Home Science, Commerce, Economics, Political Science,
                            Geography, Hindi, History, Botany, English and Sociology. Two research centers are running
                            in the college in Hindi and Economics subjects respectively. Indira Gandhi National
                            University is also running in the college. The study center of Pt. Sundarlal Sharma Open
                            University Chhattisgarh, Bilaspur is running in the college from 13.12.2012. With the
                            cooperation of Jan Bhagidari Samiti and the government, development work is going on in the
                            college for the convenience of the students.</p>
                    </div>
                    <ul class="xb-item--list list-unstyled">
                        <li>A strong Collage community.</li>
                        <!-- <li>Available in three timezones.</li> -->
                        <li>Collage Leadership Initiatives.</li>
                    </ul>
                    <!-- <div class="xb-btn mt-35">
                        <a class="thm-btn thm-btn--stroke-black hover-2" href="contact.html">apply now
                            <span><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M22 4.84993V16.7399C22 17.7099 21.21 18.5999 20.24 18.7199L19.93 18.7599C18.29 18.9799 15.98 19.6599 14.12 20.4399C13.47 20.7099 12.75 20.2199 12.75 19.5099V5.59993C12.75 5.22993 12.96 4.88993 13.29 4.70993C15.12 3.71993 17.89 2.83993 19.77 2.67993H19.83C21.03 2.67993 22 3.64993 22 4.84993Z"
                                        fill="#170006"></path>
                                    <path
                                        d="M10.71 4.70993C8.87999 3.71993 6.10999 2.83993 4.22999 2.67993H4.15999C2.95999 2.67993 1.98999 3.64993 1.98999 4.84993V16.7399C1.98999 17.7099 2.77999 18.5999 3.74999 18.7199L4.05999 18.7599C5.69999 18.9799 8.00999 19.6599 9.86999 20.4399C10.52 20.7099 11.24 20.2199 11.24 19.5099V5.59993C11.24 5.21993 11.04 4.88993 10.71 4.70993ZM4.99999 7.73993H7.24999C7.65999 7.73993 7.99999 8.07993 7.99999 8.48993C7.99999 8.90993 7.65999 9.23993 7.24999 9.23993H4.99999C4.58999 9.23993 4.24999 8.90993 4.24999 8.48993C4.24999 8.07993 4.58999 7.73993 4.99999 7.73993ZM7.99999 12.2399H4.99999C4.58999 12.2399 4.24999 11.9099 4.24999 11.4899C4.24999 11.0799 4.58999 10.7399 4.99999 10.7399H7.99999C8.40999 10.7399 8.74999 11.0799 8.74999 11.4899C8.74999 11.9099 8.40999 12.2399 7.99999 12.2399Z"
                                        fill="#170006"></path>
                                </svg></span>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="xb-shape">
        <img src="assets/img/shape/angle-shape01.png" alt="">
    </div>
</section>

<section class="program pt-30 pb-30"
    style="background-image: url(assets/img/bg/cta-bg02.png); background-repeat: no-repeat; background-position: 100% 185%;">
    <div class="container-fluid">
        <div class="section-title text-center mb-10">
            <span class="sub-title">Our academics Alumni</span>
            <h1 class="title">Alumni</h1>
        </div>
        <div class="row pl-200 pr-200">
            <div class="col-lg-3 col-md-6">
                <div class="hs-program_inner">
                    <div class="bg_img" style="background-image: url(assets/img/program/hs-pro_bg01.png)">
                        <div class="xb-item--holder">
                            <h3 class="xb-item--title">Aashis Soni</h3>
                        </div>
                        <div class="xb-item--img">
                            <img src="assets/img/program/hs-program01.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hs-program_inner">
                    <div class="bg_img" style="background-image: url(assets/img/program/hs-pro_bg02.png)">
                        <div class="xb-item--holder">
                            <h3 class="xb-item--title">Girdhanr Sahu</h3>
                        </div>
                        <div class="xb-item--img">
                            <img src="assets/img/program/hs-program02.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hs-program_inner">
                    <div class="bg_img" style="background-image: url(assets/img/program/hs-pro_bg03.png)">
                        <div class="xb-item--holder">
                            <h3 class="xb-item--title">Geeta Soni</h3>
                        </div>
                        <div class="xb-item--img">
                            <img src="assets/img/program/hs-program03.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hs-program_inner">
                    <div class="bg_img" style="background-image: url(assets/img/program/hs-pro_bg04.png)">
                        <div class="xb-item--holder">
                            <h3 class="xb-item--title">Sita Sahu</h3>
                        </div>
                        <div class="xb-item--img">
                            <img src="assets/img/program/hs-program04.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hs-program_inner">
                    <div class="bg_img" style="background-image: url(assets/img/program/hs-pro_bg05.png)">
                        <div class="xb-item--holder">
                            <h3 class="xb-item--title">Sita Tiwari</h3>
                        </div>
                        <div class="xb-item--img">
                            <img src="assets/img/program/hs-program05.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hs-program_inner">
                    <div class="bg_img" style="background-image: url(assets/img/program/hs-pro_bg06.png)">
                        <div class="xb-item--holder">
                            <h3 class="xb-item--title">Neha Dubey</h3>
                        </div>
                        <div class="xb-item--img">
                            <img src="assets/img/program/hs-program06.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hs-program_inner">
                    <div class="bg_img" style="background-image: url(assets/img/program/hs-pro_bg01.png)">
                        <div class="xb-item--holder">
                            <h3 class="xb-item--title">Aashis Soni</h3>
                        </div>
                        <div class="xb-item--img">
                            <img src="assets/img/program/hs-program01.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hs-program_inner">
                    <div class="bg_img" style="background-image: url(assets/img/program/hs-pro_bg02.png)">
                        <div class="xb-item--holder">
                            <h3 class="xb-item--title">Girdhanr Sahu</h3>
                        </div>
                        <div class="xb-item--img">
                            <img src="assets/img/program/hs-program02.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>