.about-img {
    img {
        border-radius: 150px 90px;
    }
}

.program {
    border-top: 5px solid;
    /* Set a fallback border style and width */
    border-image: linear-gradient(to right, red, blue, green) 1;
    /* Apply the gradient as border image, and "1" for border-image-slice*/
    background-position: 100% 170%;
    background-size: contain;

}

.marquee-news {
    background-color: #161a2b;
    padding: 10px 15px;
    // width: 100%;

    p {
        margin-bottom: 0;
        color: #fff;
        font-size: 1.4rem;
    }
}