<footer class="footer footer-style-three bg_img pt-100 pos-rel"
    style="background-image:url('assets/img/bg/footer-bg03.jpg')">
    <div class="xb-footer-wrap">
        <div class="xb-footer-main hs-footer-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 col-lg-4 col-md-6 mt-30">
                        <div class="footer-widget map-address">
                            <img src="assets/img/logo/logo.png" class="footer-logo"
                                alt="BCS Govt. P.G. College, Dhamtari - Chhattisgarh">
                            <span class="xb-item--details">BCS Govt. P.G. College, Dhamtari
                                <br />
                                Pin code - 493773 (Chhattisgarh)</span>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 mt-30">
                        <div class="footer-widget">
                            <h3 class="xb-item--title">Quick Links</h3>
                            <ul class="xb-item--links list-unstyled">
                                <li><a href="#!">PRSU, Raipur</a></li>
                                <li><a href="#!">CG Higher Education</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 mt-30">
                        <div class="footer-widget chng-mr">
                            <h3 class="xb-item--title">Important Links</h3>
                            <ul class="xb-item--links list-unstyled">
                                <li><a href="#!">NAAC</a></li>
                                <li><a href="#!">AISHE</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 mt-30">
                        <div class="footer-widget change-mr">
                            <h3 class="xb-item--title">Additional Links</h3>
                            <ul class="xb-item--links list-unstyled">
                                <li><a href="#!">BCI</a></li>
                                <li><a href="#!">UGC</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hs-footer-contact mt-50 ul_li_between">
                    <ul class="xb-item--contact list-unstyled">
                        <li>
                            <h3 class="xb-item--text">Contact Number - (07722) 237933</h3>
                        </li>
                    </ul>
                    <ul class="xb-item--contact list-unstyled">
                        <li>
                            <h3 class="xb-item--text">Contact Number - (07722) 232452</h3>
                        </li>
                    </ul>
                    <ul class="xb-item--contact list-unstyled">
                        <li>
                            <h3 class="xb-item--text">Email - pgcollege.dhamtari&#64;gmail.com</h3>
                        </li>
                    </ul>

                    <ul class="xb-item--social_link ul_li">
                        <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom pb-15 pt-15">
            <div class="copyright text-center">
                <p>Copyright © 2025 <a href="http://www.thekarmanya.com/">thekarmanya</a>. All rights reserved.</p>
            </div>
        </div>
    </div>
    <div class="hs-footer-shape">
        <div class="shape shape--one">
            <img src="assets/img/bg/overly.jpg" alt="">
        </div>
        <div class="shape shape--two">
            <img src="assets/img/shape/angle-shape02.png" alt="">
        </div>
    </div>
</footer>