.header__wrap {
    position: relative;
}

.my-custom-menu {
    .nav-item {
        padding: 0 10px;

        .nav-link,
        .dropdown-toggle {
            // padding: 10px 5px;
            font-size: 1rem;
            font-weight: 600;
            color: #170006;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .dropdown-menu {
        &>li {
            &>a {}
        }
    }
}

a {

    &.left-logo {
        width: 150px;

        img {
            width: 150px;
            position: absolute;
            top: 0;
            z-index: 1;
            background-color: #fff;
            padding: 10px;
            border-radius: 10px;
        }
    }
}

.right-logo {
    img {
        width: 150px;
    }
}