<header id="xb-header-area" class="header-area header-style-two header-style-three is-sticky">
    <div class="xb-header">
        <div class="container-fluid">
            <div class="header__wrap ul_li_between">
                <div class="header-logo">
                    <a routerLink="/">
                        <img src="assets/img/logo/logo.png" alt="BCS Govt. P.G. College, Dhamtari - Chhattisgarh">
                    </a>
                </div>
                <div class="main-menu__wrap ul_li navbar navbar-expand-lg">
                    <nav class="main-menu collapse navbar-collapse">
                        <ul>
                            <li><a routerLink="/">Home</a></li>
                            <li class="menu-item-has-children">
                                <a href="#!">About Us</a>
                                <ul class="submenu">
                                    <li><a routerLink="/">Principal's Message</a></li>
                                    <li><a routerLink="/">About College</a></li>
                                    <li><a routerLink="/">JBS</a></li>
                                    <li><a routerLink="/">Institutional Distinctiveness</a></li>
                                    <li><a routerLink="/">vision mission</a></li>
                                    <li><a routerLink="/">Best Practices</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#!">Facilities</a>
                                <ul class="submenu">
                                    <li><a routerLink="/">Youth Redcross</a></li>
                                    <li><a routerLink="/">NSS</a></li>
                                    <li><a routerLink="/facilities/ncc">NCC</a></li>
                                    <li><a routerLink="/">Library</a></li>
                                    <li><a routerLink="/">Sports</a></li>
                                    <li><a routerLink="/">VTP</a></li>
                                    <li><a routerLink="/">Scholarship &amp; Stationery distribution</a></li>
                                    <li><a routerLink="/">Infrastructure</a></li>
                                    <li><a routerLink="/">Women and Internal Complaints Cell</a></li>
                                    <li><a routerLink="/">SVEEP</a></li>
                                    <li><a routerLink="/">Green Audit</a></li>
                                    <li><a routerLink="/">SMART CLASS ROOM</a></li>
                                    <li><a routerLink="/">COUNSELING CENTRE</a></li>
                                    <li><a routerLink="/">GIRLS COMMON ROOM</a></li>
                                    <li><a routerLink="/">ANTI-RAGGING</a></li>
                                    <li><a routerLink="/">Pradusan Niyatran Samitee</a></li>
                                    <li><a routerLink="/">Swachh Bharat Mission</a></li>
                                    <li><a routerLink="/">RED RIBBON</a></li>
                                    <li><a routerLink="/">RIGHT TO INFORMATION</a></li>
                                    <li><a routerLink="/">RUSA</a></li>
                                    <li><a routerLink="/">Audit</a></li>
                                    <li><a routerLink="/">Youth Festival</a></li>
                                    <li><a routerLink="/">Water Audit Report</a></li>
                                    <li><a routerLink="/">College Activities</a></li>
                                    <li><a routerLink="/">Y20</a></li>
                                    <li><a routerLink="/">Eco club</a></li>
                                    <li><a routerLink="/">Recruitment 2024-25</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#!">Research</a>
                                <ul class="submenu">
                                    <li><a routerLink="/">Economics Research Centre</a></li>
                                    <li><a routerLink="/">DRC</a></li>
                                    <li><a routerLink="/">Hindi Research Centre</a></li>
                                    <li><a routerLink="/">LIST OF RESEARCH SCHOLARS</a></li>
                                    <li><a routerLink="/">Research Papers</a></li>
                                    <li><a routerLink="/">Seminar &amp; Workshop</a></li>
                                    <li><a routerLink="/">PATENT</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#!">Department</a>
                                <ul class="submenu">
                                    <li><a routerLink="/">psychology</a></li>
                                    <li><a routerLink="/">Zoology</a></li>
                                    <li><a routerLink="/">Botany</a></li>
                                    <li><a routerLink="/">Geography</a></li>
                                    <li><a routerLink="/">Political Science</a></li>
                                    <li><a routerLink="/">English</a></li>
                                    <li><a routerLink="/">Hindi Department</a></li>
                                    <li><a routerLink="/">Home Science</a></li>
                                    <li><a routerLink="/">SOCIOLOGY</a></li>
                                    <li><a routerLink="/">Economics</a></li>
                                    <li><a routerLink="/">Commerce</a></li>
                                    <li><a routerLink="/">CHEMISTRY</a></li>
                                    <li><a routerLink="/">HISTORY</a></li>
                                    <li><a routerLink="/">Law</a></li>
                                    <li><a routerLink="/">Physics</a></li>
                                    <li><a routerLink="/">Mathematics</a></li>
                                    <li><a routerLink="/">Information Technology</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#!">Department</a>
                                <ul class="submenu">
                                    <li><a routerLink="/">Admission Procedure</a></li>
                                    <li><a routerLink="/">Admission 2024-25</a></li>
                                    <li><a routerLink="/">Result</a></li>
                                    <li><a routerLink="/">EXAMINATION CELL</a></li>
                                    <li><a routerLink="/">seat availability</a></li>
                                    <li><a routerLink="/">Merit List</a></li>
                                    <li><a routerLink="/">Academic calendar</a></li>
                                    <li><a routerLink="/">PSSOU Study Centre</a></li>
                                    <li><a routerLink="/">IGNOU Study Centre</a></li>
                                    <li><a routerLink="/">Course Offered</a></li>
                                    <li><a routerLink="/">Value added course</a></li>
                                    <li><a routerLink="/">Admission 2023-24</a></li>
                                    <li><a routerLink="/">Guest Assistant Professor</a></li>
                                    <li><a routerLink="/">Program conducted in 2024-25</a></li>
                                    <li><a routerLink="/">Admission 2025-26</a></li>
                                    <li><a routerLink="/">Guest Lecturer 2025-26</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#!">Student Section</a>
                                <ul class="submenu">
                                    <li><a routerLink="/">Placement Cell</a></li>
                                    <li><a routerLink="/">Student Satisfaction Survey</a></li>
                                    <li><a routerLink="/">Alumni</a></li>
                                    <li><a routerLink="/">About SWAYAM</a></li>
                                    <li><a routerLink="/">VIDEO LECTURES</a></li>
                                    <li><a routerLink="/">Help desk</a></li>
                                    <li><a routerLink="/">Centralized Online Class Time Table 2021-22 (PRSU,Raipur)</a>
                                    </li>
                                    <li><a routerLink="/">Internal Assessment Exam 2023-24</a></li>
                                    <li><a routerLink="/">Annual / Semester Examination 2023-24</a></li>
                                    <li><a routerLink="/">Voter Awareness Campaign</a></li>
                                    <li><a routerLink="/">Annual/Semester Examination 2022-23</a></li>
                                    <li><a routerLink="/">Supplementary Examination 2024</a></li>
                                    <li><a routerLink="/">Excursion Tours</a></li>
                                    <li><a routerLink="/">Extra curricular Activitities</a></li>
                                    <li><a routerLink="/">Student Union</a></li>
                                    <li><a routerLink="/">Grievance Redressal Cell</a></li>
                                    <li><a routerLink="/">I Semester Examination (Based on NEP) 2024-25</a></li>
                                    <li><a routerLink="/">आजादी की 75वी वर्षगाठ अमृत महोत्सव "पुरखा के सुरता"
                                            27-10-2021</a></li>
                                    <li><a routerLink="/">"Application to be a new voter link"</a></li>
                                    <li><a routerLink="/">Madhav Mathematic competition</a></li>
                                    <li><a routerLink="/">छत्तीसगढ़ युवा मितान परिवहन योजना 2023</a></li>
                                    <li><a routerLink="/">New Education Policy ( NEP-2020)</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#!">NAAC</a>
                                <ul class="submenu">
                                    <li><a routerLink="/">SSR Reports</a></li>
                                    <li><a routerLink="/">AQAR Reports</a></li>
                                    <li><a routerLink="/">Naac Certificate</a></li>
                                    <li><a routerLink="/">IQAC</a></li>
                                    <li><a routerLink="/">IQAC MINUTES</a></li>
                                    <li><a routerLink="/">IQAC FORMATION</a></li>
                                    <li><a routerLink="/">BEST PRACTICES</a></li>
                                    <li><a routerLink="/">POCO</a></li>
                                    <li><a routerLink="/">Feedback</a></li>
                                    <li><a routerLink="/">PROCEDURES AND POLICIES</a></li>
                                    <li><a routerLink="/">IIQA</a></li>
                                    <li><a routerLink="/">AFFILIATION LETTER</a></li>
                                    <li><a routerLink="/">Code of Conduct for Staff and Students</a></li>
                                    <li><a routerLink="/">Activity in year 2023-24</a></li>
                                    <li><a routerLink="/">Activity in year 2024-25</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#!">SSR</a>
                                <ul class="submenu">
                                    <li><a routerLink="/">Extended Profile</a></li>
                                    <li><a routerLink="/">Criteria I</a></li>
                                    <li><a routerLink="/">CRITERIA II</a></li>
                                    <li><a routerLink="/">CRITERIA III</a></li>
                                    <li><a routerLink="/">CRITERIA IV</a></li>
                                    <li><a routerLink="/">CRITERIA V( Student Support Progression)</a></li>
                                    <li><a routerLink="/">CRITERIA VI</a></li>
                                    <li><a routerLink=" /">CRITERIA VII</a></li>
                                    <li><a routerLink="/">DVV Clarification</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="/gallery">Gallery</a></li>
                            <li><a routerLink="/contact">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="xb-header-wrap">
                        <div class="xb-header-menu">
                            <div class="xb-header-menu-scroll">
                                <div class="xb-menu-close xb-hide-xl xb-close"></div>
                                <div class="xb-logo-mobile xb-hide-xl">
                                    <a href="index.html" rel="home"><img src="assets/img/logo/logo-2.svg" alt=""></a>
                                </div>
                                <div class="xb-header-mobile-search xb-hide-xl">
                                    <form role="search" action="#">
                                        <input type="text" placeholder="Search..." name="s" class="search-field">
                                        <button class="search-submit" type="submit"><i
                                                class="far fa-search"></i></button>
                                    </form>
                                </div>
                                <nav class="xb-header-nav">
                                    <ul class="xb-menu-primary clearfix">
                                        <li class="menu-item menu-item-has-children">
                                            <a href="index.html">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="index.html">University</a></li>
                                                <li><a href="home-2.html">College</a></li>
                                                <li><a href="home-3.html">High School</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="admission.html">Admission</a>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#!">Courses</a>
                                            <ul class="sub-menu">
                                                <li><a href="courses.html">Courses</a></li>
                                                <li><a href="course-single.html">Course Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#!">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="about.html">About Us</a></li>
                                                <li class="menu-item menu-item-has-children"><a
                                                        href="blog.html">Blog</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="blog.html">Blog</a></li>
                                                        <li class="menu-item"><a href="blog-single.html">Blog
                                                                Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children"><a
                                                        href="event.html">Event</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="event.html">Event</a></li>
                                                        <li class="menu-item"><a href="event-single.html">Event
                                                                Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children"><a
                                                        href="team.html">Team</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="team.html">Team</a></li>
                                                        <li class="menu-item"><a href="team-single.html">Team
                                                                Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item"><a href="tuition-fees.html">Tuition & Fees</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="xb-header-menu-backdrop"></div>
                    </div>
                </div>
                <div class="hs-header-right">
                    <img src="assets/img/logo/naac.png" alt="BCS Govt. P.G. College, Dhamtari - Chhattisgarh">
                </div>
            </div>
        </div>
    </div>
</header>