<header id="xb-header-area" class="header-area header-style-two header-style-three is-sticky">
    <div class="xb-header">
        <div class="header__wrap">
            <nav class="navbar navbar-expand-xl w-100">
                <div class="container-fluid">
                    <a class="navbar-brand left-logo" routerLink="/">
                        <img src="assets/img/logo/logo.png" alt="BCS Govt. P.G. College, Dhamtari - Chhattisgarh">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto my-custom-menu">
                            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link nav-link dropdown-toggle" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/">Principal's Message</a></li>
                                    <li><a class="dropdown-item" routerLink="/">About College</a></li>
                                    <li><a class="dropdown-item" routerLink="/">JBS</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Institutional Distinctiveness</a>
                                    </li>
                                    <li><a class="dropdown-item" routerLink="/">vision mission</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Best Practices</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#!" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Facilities</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/">Youth Redcross</a></li>
                                    <li><a class="dropdown-item" routerLink="/">NSS</a></li>
                                    <li><a class="dropdown-item" routerLink="/facilities/ncc">NCC</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Library</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Sports</a></li>
                                    <li><a class="dropdown-item" routerLink="/">VTP</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Scholarship &amp; Stationery
                                            distribution</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Infrastructure</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Women and Internal Complaints
                                            Cell</a></li>
                                    <li><a class="dropdown-item" routerLink="/">SVEEP</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Green Audit</a></li>
                                    <li><a class="dropdown-item" routerLink="/">SMART CLASS ROOM</a></li>
                                    <li><a class="dropdown-item" routerLink="/">COUNSELING CENTRE</a></li>
                                    <li><a class="dropdown-item" routerLink="/">GIRLS COMMON ROOM</a></li>
                                    <li><a class="dropdown-item" routerLink="/">ANTI-RAGGING</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Pradusan Niyatran Samitee</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Swachh Bharat Mission</a></li>
                                    <li><a class="dropdown-item" routerLink="/">RED RIBBON</a></li>
                                    <li><a class="dropdown-item" routerLink="/">RIGHT TO INFORMATION</a></li>
                                    <li><a class="dropdown-item" routerLink="/">RUSA</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Audit</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Youth Festival</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Water Audit Report</a></li>
                                    <li><a class="dropdown-item" routerLink="/">College Activities</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Y20</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Eco club</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Recruitment 2024-25</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#!" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Research</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/">Economics Research Centre</a></li>
                                    <li><a class="dropdown-item" routerLink="/">DRC</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Hindi Research Centre</a></li>
                                    <li><a class="dropdown-item" routerLink="/">LIST OF RESEARCH SCHOLARS</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Research Papers</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Seminar &amp; Workshop</a></li>
                                    <li><a class="dropdown-item" routerLink="/">PATENT</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#!" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Department</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/">psychology</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Zoology</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Botany</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Geography</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Political Science</a></li>
                                    <li><a class="dropdown-item" routerLink="/">English</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Hindi Department</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Home Science</a></li>
                                    <li><a class="dropdown-item" routerLink="/">SOCIOLOGY</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Economics</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Commerce</a></li>
                                    <li><a class="dropdown-item" routerLink="/">CHEMISTRY</a></li>
                                    <li><a class="dropdown-item" routerLink="/">HISTORY</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Law</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Physics</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Mathematics</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Information Technology</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#!" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Academic</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/">Admission Procedure</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Admission 2024-25</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Result</a></li>
                                    <li><a class="dropdown-item" routerLink="/">EXAMINATION CELL</a></li>
                                    <li><a class="dropdown-item" routerLink="/">seat availability</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Merit List</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Academic calendar</a></li>
                                    <li><a class="dropdown-item" routerLink="/">PSSOU Study Centre</a></li>
                                    <li><a class="dropdown-item" routerLink="/">IGNOU Study Centre</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Course Offered</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Value added course</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Admission 2023-24</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Guest Assistant Professor</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Program conducted in 2024-25</a>
                                    </li>
                                    <li><a class="dropdown-item" routerLink="/">Admission 2025-26</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Guest Lecturer 2025-26</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#!" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Student Section</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/">Placement Cell</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Student Satisfaction Survey</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Alumni</a></li>
                                    <li><a class="dropdown-item" routerLink="/">About SWAYAM</a></li>
                                    <li><a class="dropdown-item" routerLink="/">VIDEO LECTURES</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Help desk</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Centralized Online Class Time Table
                                            2021-22
                                            (PRSU,Raipur)</a>
                                    </li>
                                    <li><a class="dropdown-item" routerLink="/">Internal Assessment Exam 2023-24</a>
                                    </li>
                                    <li><a class="dropdown-item" routerLink="/">Annual / Semester Examination
                                            2023-24</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Voter Awareness Campaign</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Annual/Semester Examination
                                            2022-23</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Supplementary Examination 2024</a>
                                    </li>
                                    <li><a class="dropdown-item" routerLink="/">Excursion Tours</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Extra curricular Activitities</a>
                                    </li>
                                    <li><a class="dropdown-item" routerLink="/">Student Union</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Grievance Redressal Cell</a></li>
                                    <li><a class="dropdown-item" routerLink="/">I Semester Examination (Based on
                                            NEP) 2024-25</a></li>
                                    <li><a class="dropdown-item" routerLink="/">आजादी की 75वी वर्षगाठ अमृत महोत्सव
                                            "पुरखा के सुरता"
                                            27-10-2021</a></li>
                                    <li><a class="dropdown-item" routerLink="/">"Application to be a new voter
                                            link"</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Madhav Mathematic competition</a>
                                    </li>
                                    <li><a class="dropdown-item" routerLink="/">छत्तीसगढ़ युवा मितान परिवहन योजना
                                            2023</a></li>
                                    <li><a class="dropdown-item" routerLink="/">New Education Policy ( NEP-2020)</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#!" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">NAAC</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/">SSR Reports</a></li>
                                    <li><a class="dropdown-item" routerLink="/">AQAR Reports</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Naac Certificate</a></li>
                                    <li><a class="dropdown-item" routerLink="/">IQAC</a></li>
                                    <li><a class="dropdown-item" routerLink="/">IQAC MINUTES</a></li>
                                    <li><a class="dropdown-item" routerLink="/">IQAC FORMATION</a></li>
                                    <li><a class="dropdown-item" routerLink="/">BEST PRACTICES</a></li>
                                    <li><a class="dropdown-item" routerLink="/">POCO</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Feedback</a></li>
                                    <li><a class="dropdown-item" routerLink="/">PROCEDURES AND POLICIES</a></li>
                                    <li><a class="dropdown-item" routerLink="/">IIQA</a></li>
                                    <li><a class="dropdown-item" routerLink="/">AFFILIATION LETTER</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Code of Conduct for Staff and
                                            Students</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Activity in year 2023-24</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Activity in year 2024-25</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#!" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">SSR</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/">Extended Profile</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Criteria I</a></li>
                                    <li><a class="dropdown-item" routerLink="/">CRITERIA II</a></li>
                                    <li><a class="dropdown-item" routerLink="/">CRITERIA III</a></li>
                                    <li><a class="dropdown-item" routerLink="/">CRITERIA IV</a></li>
                                    <li><a class="dropdown-item" routerLink="/">CRITERIA V( Student Support
                                            Progression)</a></li>
                                    <li><a class="dropdown-item" routerLink="/">CRITERIA VI</a></li>
                                    <li><a class="dropdown-item" routerLink=" /">CRITERIA VII</a></li>
                                    <li><a class="dropdown-item" routerLink="/">DVV Clarification</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" routerLink="/gallery">Gallery</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
                        </ul>
                        <div class="ms-auto right-logo">
                            <img src="assets/img/logo/naac.png" alt="BCS Govt. P.G. College, Dhamtari - Chhattisgarh">
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>