.slider-right {
    width: 100%;

    position: absolute;
    bottom: 9.8rem;
    height: 100%;
}


.marquee-wrapper {
    padding: 10px;
    display: flex;
    background-color: #161a2b;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: hidden;

    p {
        i {
            margin-right: 10px;
        }

        color: #fff;
        margin-bottom: 0;
        font-size: 1.3rem;
    }
}